node_modules/
dist/
cubby
cubby.db
*.exe
.superpowers/
.npm-cache/
.gocache/
.claude/
backend/cmd/server/static/*
!backend/cmd/server/static/.gitkeep
.idea/
backend/cubby.db-shm
backend/cubby.db-wal
*.db-wal
*.db-shm
*.exe~
backend/.env
